<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br />

		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-info-circle"></i>
					</div>
					<h3 class="card-title col-sm-6"
						th:text="${expenses.value}"></h3>
					<div class="col-sm-4">
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
						<i class="fas fa-info-circle"></i>&nbsp;Eliminar</button>
						<a class="btn btn-primary" th:href="@{/expenses/list}"><i
							class="fas fa-arrow-left"></i>&nbsp;Atras</a>
					</div>
				</div>
				<input type="hidden" id="idexpenses"
					th:value="${expenses.idexpenses}" />
				
				<hr />
				
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Date:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text" th:text="${expenses.date}"></h5>
							</div>
						</div>						
					</div>
				</div>
				
				
				<hr />
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Detail:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text" th:text="${expenses.detail}"></h5>
							</div>
						</div>						
					</div>
				</div>
				
			</div>
		</div>
		<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Do you want to delete expenses?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="${expenses.value}"></p>
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<a th:href="@{/expenses/delete/} + ${expenses.idexpenses}" class="btn btn-success">Confirm</a>
					</div>
				</div>
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>