<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: frgHeader"></header>
<section class="breadcrumb_part breadcrumb_bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<div class="breadcrumb_iner_item">
						<h2>Ingresos</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="container pb-5">
	<div class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>					
				</div>
				<hr />
				
				<form th:action="@{/incomes/save}" th:object="${income}" method="post">
										
					<div class="form-group row">
						<div class="col-sm-3">
							<i class="ti-money"></i>
							<label class="h5 col-form-label">&nbsp;Valor:</label>						
						</div>
						<div class="col-sm-6">							
							<input class="single-input" type="text" required
								th:field="*{value}"
								th:errorclass="'form-control is-invalid'" /></input>	
								<small class="invalid-feedback"
								th:if="${#fields.hasErrors('value')}"
								th:errors="*{value}"></small>										
						</div>
					</div>
				
				
					<hr />
					<!-- CALENDER -->
					<div class="form-group row">
						<div class="col-sm-3">
							<i class="ti-calendar"></i>
							<label class="h5 col-form-label">&nbsp;Fecha:</label>						
						</div>
						<div class="col-sm-6">
						<input th:field="*{date}" placeholder="Fecha" required
											class="single-input" type="date"											
											th:errorclass="'form-control is-invalid'">
										 <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('date')}"
											th:errors="*{date}"></small>
						</div>
					</div>
					<hr />
					<div class="form-group row">
						<div class="col-sm-3">
							<i class="ti-comment-alt"></i>
							<label class="h5 col-form-label">&nbsp;Descripción:</label>						
						</div>
						<div class="col-sm-6">							
							<input class="single-input" type="text" 
								th:field="*{description}"
								th:errorclass="'form-control is-invalid'" /></input>	
								<small class="invalid-feedback"
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}"></small>										
						</div>
					</div>				
					
					
					<hr />
					<div class="form-group row">
						<div class="col-sm-3">
							<i class="ti-layers"></i>
							<label class="h5 col-form-label">&nbsp;Tipo:</label>						
						</div>
						<div class="col-sm-6">							
							<input class="single-input" type="text" 
								th:field="*{type}"
								th:errorclass="'form-control is-invalid'" /></input>	
								<small class="invalid-feedback"
								th:if="${#fields.hasErrors('type')}"
								th:errors="*{type}"></small>										
						</div>
					</div>
										
					<hr />
					<div class="form-group row">
						<div class="col-sm-4">
							<a class="genric-btn  danger circle" 
								th:href="@{/incomes/list}">
							<i class="ti-close"></i>&nbsp; Cancelar</a>
							<button class="genric-btn success circle" type="submit">
								<i class="ti-save"></i>&nbsp; Guardar
							</button>
						</div>
					</div>
							
				
				</form>
				
	
				
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>