<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: frgHead"></head>
<body>

<!-- breadcrumb start-->
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Condominios</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb ends-->

<div class="container pb-5">
    <header th:replace="layout :: frgHeader"></header>
    <div  class="d-flex flex-column">
        <!-- Begin Page Content -->
        <div class="container">
            <div class="container-fluid">
                <br />

                <div class="card col-md-12">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-6 ">
                                <h3 th:text="${condominium.name}"></h3>
                            </div>
                            <div class="col-6 d-flex flex-row-reverse">
                                <div sec:authorize="hasRole('ROLE_USER-ADMIN')" class="form-group px-2">
                                    <a class="genric-btn btn-sm success circle" th:href="@{/owner/create}">
                                        <i class="ti-plus"></i>&nbsp; Propietario</a>
                                </div>
                                <div sec:authorize="hasRole('ROLE_USER-ADMIN')" class="form-group px-2">
                                    <a class="genric-btn btn-sm success circle" th:href="@{/condominium/update/} + ${condominium.idcondominium}">
                                        <i class="ti-reload"></i>&nbsp; Actualizar</a>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="idcondominium"
                               th:value="${condominium.idcondominium}" />
                        <hr />

                        <div class="row">
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="content col-sm-4 bg-light">
                                                <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Costo Alicuota:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5 class="card-text" th:text="${condominium.costAli}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="content col-sm-4 bg-light">
                                                <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Sector:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5 class="card-text" th:text="${condominium.sector}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="content col-sm-4 bg-light">
                                                <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Calle 1</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5 class="card-text" th:text="${condominium.street1}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="content col-sm-4 bg-light">
                                                <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Calle 2</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5 class="card-text" th:text="${condominium.street2}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="content col-sm-4 bg-light">
                                                <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Sector:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5 class="card-text" th:text="${condominium.reference}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-7">
                                <div class="canvas-holder">
                                    <canvas id="chart-inc"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="HousesList"></div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: frgFooter"></footer>
<script th:src="@{/js/AjaxFunctions/CondominiumCard.js}"></script>
<script th:src="@{/js/Reports/RepTypeOfIncomes.js}"></script>

</body>
</html>