<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: frgHead"></head>
<body>

<!-- breadcrumb start-->
	<section class="breadcrumb_part breadcrumb_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb_iner">
						<div class="breadcrumb_iner_item">
							<h2>Casas</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- breadcrumb start-->

<div id="container pb-5">
	<header th:replace="layout :: frgHeader"></header>
	<div class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br />

		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="col-6">
						<h3	th:text="Casa"></h3>
					</div>
					<div  sec:authorize="hasRole('ROLE_USER-ADMIN')" class="col-6 d-flex flex-row-reverse">
						<div  sec:authorize="hasRole('ROLE_USER-ADMIN')" class="form-group px-2">
							<button class="genric-btn danger circle" data-toggle="modal" data-target="#deleteModal">
							<i class="ti-trash"></i>&nbsp; Eliminar</button>
						</div>
						<div sec:authorize="hasRole('ROLE_USER-ADMIN')" class="form-group px-2">
                                    <a class="genric-btn btn-sm success circle" th:href="@{/house/update/} + ${house.idhouse}">
                                        <i class="ti-reload"></i>&nbsp; Actualizar</a>
                                </div>
						
					</div>
				</div>
				<input type="hidden" id="idhouse"
					th:value="${house.idhouse}" />

				<hr />
				
				<div class="row">	
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="ti-home"></i> <label class="h5 col-form-label">&nbsp;Numero:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="align-middle text-cente" th:text="${house.number}"></h5>
							</div>
						</div>						
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="ti-id-badge"></i> <label class="h5 col-form-label">&nbsp;Bloque:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="align-middle text-cente" th:text="${house.block}"></h5>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="ti-id-badge"></i> <label class="h5 col-form-label">&nbsp;Propietario:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="align-middle text-cente" th:text="${house.owner.name} + ${house.owner.lastName}"></h5>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="m-1 pb-5 row">
				<div class="col-md-4 pt-5">
					<div class="about_us_img">
						<img th:src="@{/img/GrupoCasa.png}" alt="">
					</div>
				</div>
				<div class="card col-md-8">
					<div class="card-body">
						<div class="form-group  row">
							<div class="content col-sm-1">
								<i class="far fa-plus-square fa-2x"></i>
							</div>
							<h3 class="card-title col-sm-10"> Alicuotas por Pagar</h3>
						</div>
						<hr />
						<table class="table table-hover">
							<thead>
							<tr>
								<th class="align-middle text-center"><i class="ti-home"></i>&nbsp;Valor</th>
								<th class="align-middle text-center"><i class="ti-layers-alt"></i>&nbsp;Fecha</th>
								<th class="align-middle text-center"><i class="ti-user"></i>&nbsp;Acciones</th>

							</tr>
							</thead>
							<tbody>
							<tr th:each="income : ${incomeList}" >
								<td class="align-middle text-center" th:text="${income.getValue()}"></td>
								<td class="align-middle text-center" th:text=${#dates.format(income.date,'dd-MM-yyyy')}></td>

								<td>
									<div class="d-flex justify-content-center">
										<a sec:authorize="hasRole('ROLE_USER-ADMIN')" class="genric-btn btn-sm danger-border circle" title="Editar"
										   th:href="@{/incomes/update/} + ${income.idincome}">
											<i class="ti-pencil"></i>
										</a>
										<a sec:authorize="hasRole('ROLE_USER-ADMIN')" class="genric-btn btn-sm danger-border circle" title="Pagar"
										   th:href="@{/incomes/paid/} + ${income.idincome}">
											<i class="ti-money"></i>
										</a>
									</div>

								</td>
							</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Deseas eliminar la casa?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="${house.block}"></p>
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a th:href="@{/house/delete/} + ${house.idhouse}" class="btn btn-success">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
			</div>

		</div>
	</div>
</div>
<footer th:replace="layout :: frgFooter"></footer>
</body>
</html>