<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: frgHead"></head>
<body>

<!-- breadcrumb start-->
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cuentas Mensuales</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb ends-->

<div class="container pb-5">
    <header th:replace="layout :: frgHeader"></header>
    <div  class="d-flex flex-column">
        <!-- Begin Page Content -->
        <div class="container">
            <div class="container-fluid">
                <br />

                <div class="card col-md-12">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-6 ">
                                <h3 Balance Mensual></h3>
                            </div>
                            <div class="col-6 d-flex flex-row-reverse">
                                <div sec:authorize="hasRole('ROLE_USER-ADMIN')" class="form-group px-2">
                                    <a class="genric-btn btn-sm success circle" th:href="@{/monthlyAccounts/closeBox/} + ${monthlyAccounts.getIdmonthlyaccounts()}">
                                        <i class="ti-plus"></i>&nbsp; Cierre de Mes</a>
                                </div>
                                <div sec:authorize="hasRole('ROLE_USER-ADMIN')" class="form-group px-2">
                                    <a class="genric-btn btn-sm success circle" th:href="@{/monthlyAccounts/list}">
                                        <i class="ti-plus"></i>&nbsp; Meses posteriores</a>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="idMonthAccount"
                               th:value="${monthlyAccounts.getIdmonthlyaccounts()}" />
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="content col-sm-3 bg-light">
                                        <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Ingresos:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <h5 class="card-text" th:text="${monthlyAccounts.getIncome()}"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="content col-sm-3 bg-light">
                                        <i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Gastos:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <h5 class="card-text" th:text="${monthlyAccounts.getExpenses()}"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: frgFooter"></footer>
</body>
</html>